altgraph==0.17
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==3.0.4
click==8.0.1
colorama==0.4.4
cycler==0.10.0
decorator==4.4.2
deep-translator==1.4.4
docutils==0.17.1
easyocr==1.3.2
futures @ file:///Z:/MachineTranslations/futures-3.2.0%2Bdummy-py3-none-any.whl
google-trans-new==1.1.9
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
imageio==2.9.0
joblib==1.0.1
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kiwisolver==1.3.1
langdetect==1.0.9
langid==1.1.6
matplotlib==3.4.2
Morfessor @ file:///Z:/MachineTranslations/Morfessor-2.0.6-py3-none-any.whl
networkx==2.5.1
nltk==3.6.2
numpy==1.20.3
opencv-python==4.5.2.52
Pillow==8.2.0
polyglot==16.7.4
pycld2 @ file:///Z:/MachineTranslations/pycld2-0.41-cp39-cp39-win_amd64.whl
Pygments==2.9.0
PyICU @ file:///Z:/MachineTranslations/PyICU-2.7.4-cp39-cp39-win_amd64.whl
pyinstaller-hooks-contrib==2021.2
pyparsing==2.4.7
pypiwin32==223
pytesseract==0.3.7
python-bidi==0.4.2
python-dateutil==2.8.1
PyWavelets==1.1.1
pywin32==301
PyYAML==5.4.1
regex==2021.7.6
requests==2.25.1
rfc3986==1.5.0
scikit-image==0.18.1
scipy==1.6.3
six==1.16.0
sniffio==1.2.0
soupsieve==2.2.1
tifffile==2021.4.8
torch==1.8.1
torchvision==0.9.1
tqdm==4.61.2
typing-extensions==3.10.0.0
urllib3==1.26.5
